@model BookFormViewModel

@{
	var titlePrefix = Model.Id == 0 ? "Create" : "Edit";



	ViewData["Title"] = $"{titlePrefix} Book";
}




<div class="row">

	<div class="col-md-3">
		<div class="card card-flush py-4">
			<div class="card-header">
				<div class="card-title">
					<h2>Book Cover</h2>
				</div>
			</div>
			<div class="card-body text-center pt-0">
				<div class="image-input image-input-outline mb-3 bg-light" data-kt-image-input="true">
					<div class="image-input-wrapper w-150px h-150px"
						 style="background-image: url('@(string.IsNullOrEmpty(Model.ImageUrl)
         ? "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc5VtDElo-vbH6jE2tM2jzgGNw7hygWblcr8cdefITrS4pdkh7GaAEIL-hPCrHzL1WHDs&usqp=CAU"
         : Model.ImageUrl)');">
					</div>

				>	<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change image">
						<i class="fa-solid fa-plus"></i>
						<input id="imageUrl-value" asp-for="Image" type="file" accept=".png, .jpg, .jpeg">
					</label
					<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove image">
						<i class="fa-solid fa-xmark"></i>
					</span>
				</div>
				<div class="text-muted fs-7">Allowed formats: .png, .jpg, .jpeg (Max: 2MB)</div>
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="card shadow-sm">
			<div class="card-header">
				<h3 class="card-title">@titlePrefix Book</h3>
			</div>
			<div class="card-body">
				<form method="post" asp-controller="Books" enctype="multipart/form-data" class="row g-3" id="Form">

					@if (Model.Id > 0)



					{
						<input type="hidden" asp-for="Id" />
					}
					<div class="col-md-6">
						<label class="form-label">Title</label>
						<input asp-for="Title" placeholder="Enter title" class="form-control bg-light">
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<label class="form-label">Publisher</label>
						<input asp-for="Publisher" placeholder="Enter publisher" class="form-control bg-light">
						<span asp-validation-for="Publisher" class="text-danger"></span>
					</div>

					<div class="col-md-6">
						<label class="form-label">Author</label>
						<select class="form-select bg-light js-select2" style=" height: 42.3px;" asp-for="AuthorId" asp-items="@Model.Authors" data-placeholder="Select an author">
							<option value="">Select an author</option>
						</select>
						<span asp-validation-for="AuthorId" class="text-danger"></span>
					</div>


					<div class="col-md-6">
						<label class="form-label">Category</label>
						<select class="form-control bg-light js-select2" asp-for="SelectedCategories" asp-items="Model.Categories" data-placeholder="Select a category">
							<option value="">Select a category</option>
						</select>
						<span asp-validation-for="SelectedCategories" class="text-danger"></span>
					</div>
					<div class="col-md-5">
						<label class="form-label">Hall</label>
						<input asp-for="Hall" placeholder="Enter hall" class="form-control bg-light">
						<span asp-validation-for="Hall" class="text-danger"></span>
					</div>
					<div class="col-md-5">
						<label class="form-label">Publishing Date</label>
						<input asp-for="PublishingDate" type="date" class="form-control bg-light js-flatpickr">
						<span asp-validation-for="PublishingDate" class="text-danger"></span>
					</div>


					<div class="col-md-2  text-center">
						<div class="form-check form-switch mt-10">
							<input asp-for="IsAvailableForRental" type="checkbox" class="form-check-input m-0 ">
							<label class="form-check-label ">Available?</label>
						</div>
					</div>




			@* 		<div class="col-md-12 ">
						<div class="mb-5 ">
							<div>
								<img id="ImagePreview"
									 src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "no-book.jpg" : Model.ImageUrl)"
									 class="img-thumbnail"
									 alt="Book Image">
							</div>
							<div class="form-floating mb-2">
								<input type="file" class="form-control bg-light" placeholder="Image" asp-for="Image" accept=".jpg,.jpeg,.png"
									   onchange="document.getElementById('ImagePreview').src = window.URL.createObjectURL(this.files[0])" />
								<label asp-for="Image"></label>
							</div>
							<span asp-validation-for="Image" class="text-danger d-block"></span>
						</div>
					</div> *@

					<div class="col-md-12">
						<label class="form-label">Description</label>
						<textarea asp-for="Description" class="form-control bg-light js-tinymce" placeholder="Enter description" style="height: 100px"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>


				</form>
			</div>
			<div class="card-footer p-4">
				<div class="col-12">
					<button type="submit" class="btn btn-primary submit-from-btn" form="Form">Save</button>
					<a class="btn btn-light text-primary ms-2" asp-action="index">close</a>
				</div>
			</div>
		</div>
	</div>


</div>




@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/lib/tinymce/tinymce.min.js"></script>

}





