@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <img src="~/assets/images/401 Error Unauthorized.gif" alt="Unauthorize" class="h-500px" />
</div>
