@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

@section Styles {
    <partial name="_DataTabelsCSS" />
}

<div class="card shadow-sm  border border-primary border-2  ">
    <div class="card-header">
        <h3 class="card-title">
            <div class="symbol symbol-35px me-2">
                <div class="symbol-label fs-2 fw-semibold text-success"><i class="fas fa-pen-nib fs-3  me-2 text-primary"></i></div>
            </div>
            User
        </h3>
        <div class="card-toolbar">
            <a href="javascript:;" type="button" data-url="User/Create" data-title="Add New User" class="btn btn-sm btn-primary js-render-modal">
                Add
            </a>
        </div>
    </div>
</div>


<div class="card shadow-sm my-10   ">
    <div class="card-body">
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th class="text-end pe-10">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model) //Assuming Model is an IEnumerable<YourDataType>
                    {
                        <partial name="_UserRow" model="user" />
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No data available.</p>
        }

    </div>
</div>


@section CustomScripts {
    <partial name="_DataTabelsJs" />
    <partial name="_ValidationScriptsPartial" />

}




