@model string

@{
    ViewData["Title"] = "Not Allowed Rental";
}

<div class="d-flex flex-column text-center align-items-center">
    <img src="https://img.favpng.com/5/10/0/stop-sign-red-stop-sign-illustration-in-cartoon-style-1NBcUnRP_t.jpg" alt="stop" class="mw-200px" />

    <h4 class="bg-danger text-white display-6 w-50 rounded p-4">@Model</h4>
</div>