@model IEnumerable<Category>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@{
	ViewData["Title"] = "Categories";
}

@section Styles{
	<partial name="_DataTabelsCSS" />
}

<div class="card shadow-sm border border-primary border-2 border-dashed">
	<div class="card-header">
		<h3 class="card-title">
			<div class="symbol symbol-40px me-2">
				<div class="symbol-label fs-2 fw-semibold text-success"> <i class="fa-solid fa-layer-group text-primary"></i></div>
			</div>
			Categories
		</h3>
		<div class="card-toolbar">
			<a href="javascript:;" type="button" class="btn btn-sm btn-primary js-render-modal"
			   data-title="Add Categroy" data-url="Categories/Create"
				<i class="bi bi-plus-square-dotted"></i>
				Add
			</a>

			<div class="modal fade" tabindex="-1" id="kt_modal_1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title">Modal title</h3>

							<!--begin::Close-->
							<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
								<i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
							</div>
							<!--end::Close-->
						</div>

						<div class="modal-body">
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card shadow-sm mt-12">
@* the header her
 *@	<div class="card-body">
		<div class="table-responsive1">
			@if (Model.Any())
			{
				
				<table id="categoriesTable" class="table table-row-bordered gy-5">
					<thead>
						<tr class="fw-semibold fs-6 text-muted">
							<th>Name</th>
							<th>Status</th>
							<th>Created On</th>
							<th>Last Update On</th>
							<th class="text-end pe-10">Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var category in Model)
						{
							<partial name="_CategoryRow" model="category" />
						}
					</tbody>
				</table>
			}
			else
			{



				<div class="alert alert-danger d-flex align-items-center p-5 mb-10 border-warning">
					<i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>                    <div class="d-flex flex-column">
						<h4 class="mb-1 text-danger"><i class="fa-solid fa-circle-exclamation  fs-2 me-1 text-danger"></i> No Categories Found</h4>
						<span>There are no categories to display.</span>
					</div>
				</div>



			}
		</div>
	</div>

	<input type="hidden" name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(Context).RequestToken" />



	@section CustomScripts {
		<partial name="_ValidationScriptsPartial" />
		<partial name="_DataTabelsJs" />
	}

@* 
	//stop in make githup commite
	//stop in section 11/3; *@


